<html>
<head>
<style>
body {
  font-family: helvetica, sans-serif;
}
li {
  list-style: none;
}
.avatar {
  float: left;
}
.real_name {
  color: #333;
  font-weight: bold;
  margin-left: 5px;
}
.screen_name {
  color: #999;
  font-size: .9em;
}
.tweets p {
  position: relative;
  left: 5px;
  bottom: 13px;
}
.tweet-images {
  max-height: 200px;
  margin-bottom: 20px;
  position: relative;
  bottom: 5px;
}
</style>
</head>
<body>
  <h1>Emerald Sprint Tweets!</h1>
  <ul>
    {% for tweet in tweets %}
    <li>
      <div class="tweets">
      <img src="cid:{{ tweet.screen_name }}_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">{{ tweet.real_name }}</span> <span class="screen_name">{{ tweet.screen_name }}</span>
        </div>
        <p>{{ tweet.text }}</p>
      </div>
      </div>
    </li>
    {% if tweet.media %}
      <img src="cid:{{tweet.id}}_im" class="tweet-images">
    {% endif %}
    {% endfor %}
  </ul>
</body>
</html>