<html>
<head></head>
<body>
  <h1>Emerald Sprint Tweets!</h1>
  <ul>
    
      <li>#emeraldsprint tuco sauced! http://t.co/VSr3vsTC</li>
      <li>luke_brannon</li>
      <li>Sun, 10 Feb 2013 06:31:01 +0000</li>
    
      <li>@rosspatterson #emeraldsprint martinez anyone? http://t.co/M6fT7Cab</li>
      <li>luke_brannon</li>
      <li>Sun, 10 Feb 2013 06:29:42 +0000</li>
    
      <li>OH: "It's okay, it's an incognito tab." #emeraldsprint</li>
      <li>davisagli</li>
      <li>Sun, 10 Feb 2013 06:12:54 +0000</li>
    
      <li>OH: "I just pressed buttons until it made noises." #emeraldsprint</li>
      <li>davisagli</li>
      <li>Sun, 10 Feb 2013 05:49:32 +0000</li>
    
      <li>#emeraldsprint dinner and conversation http://t.co/aHQSNxZA</li>
      <li>shmcmahon</li>
      <li>Sun, 10 Feb 2013 05:47:40 +0000</li>
    
      <li>Third course @ #emeraldsprint #snackunderflow http://t.co/2DELwPGZ</li>
      <li>davisagli</li>
      <li>Sun, 10 Feb 2013 05:32:57 +0000</li>
    
      <li>OH: "I want more pasta, but I don't want my girlfriend to leave me" #emeraldsprint #plone</li>
      <li>matthewwilkes</li>
      <li>Sun, 10 Feb 2013 05:19:36 +0000</li>
    
      <li>Merged collective.cmfeditionsdexteritycompat and collective.dexteritydiff into #dexterity core.  #emeraldsprint</li>
      <li>rosspatterson</li>
      <li>Sun, 10 Feb 2013 04:18:48 +0000</li>
    
      <li>to be clear, I need test cases here more than anything ;)  https://t.co/biBBG1As #doitforme #emeraldsprint</li>
      <li>eleddy</li>
      <li>Sun, 10 Feb 2013 04:14:14 +0000</li>
    
      <li>dexterity json api, with security declarations. someone write test cases for me and it merges https://t.co/Jddy7jsi #emeraldsprint</li>
      <li>eleddy</li>
      <li>Sun, 10 Feb 2013 04:11:45 +0000</li>
    
      <li>The Italians are in the kitchen. Life is good. #emeraldsprint #chaosmonkey</li>
      <li>shmcmahon</li>
      <li>Sun, 10 Feb 2013 04:10:26 +0000</li>
    
      <li>“@bdbaddog: @luke_brannon #emeraldsprint and the guac is gone...” Curses! http://t.co/eFmRFH6c</li>
      <li>luke_brannon</li>
      <li>Sun, 10 Feb 2013 03:54:22 +0000</li>
    
      <li>@luke_brannon #emeraldsprint and the guac is gone...</li>
      <li>bdbaddog</li>
      <li>Sun, 10 Feb 2013 03:53:13 +0000</li>
    
      <li>holy shit, @bdbaddog just bought http://t.co/x9okJ2aM 
#emeraldsprint #fuckyeah</li>
      <li>eleddy</li>
      <li>Sun, 10 Feb 2013 03:25:10 +0000</li>
    
      <li>OH: "As long as it's not hetero porn, I'm okay with it." #emeraldsprint #guesswho</li>
      <li>davisagli</li>
      <li>Sun, 10 Feb 2013 03:25:02 +0000</li>
    
      <li>OH: "Nap or drink?" #emeraldsprint #guesswho</li>
      <li>matthewwilkes</li>
      <li>Sun, 10 Feb 2013 03:23:36 +0000</li>
    
      <li>Thanks for letting me and #chaosmonkey drop by, #EmeraldSprint crew! A pleasure to see you all!  #plone</li>
      <li>jonstahl</li>
      <li>Sun, 10 Feb 2013 03:15:50 +0000</li>
    
      <li>OH #emeraldsprint : We can drive you to drink! (Guess who)</li>
      <li>shmcmahon</li>
      <li>Sun, 10 Feb 2013 03:12:50 +0000</li>
    
      <li>You're know you're in deep when it takes davisagli over an hour to debug your 50 lines of code. #emeraldsprint #balloon</li>
      <li>shmcmahon</li>
      <li>Sun, 10 Feb 2013 03:11:35 +0000</li>
    
      <li>OH: "Can we roast a pig with gas from our hot air balloon?" #emeraldsprint</li>
      <li>davisagli</li>
      <li>Sun, 10 Feb 2013 03:04:55 +0000</li>
    
      <li>#emeraldsprint @luke_brannon want some guac.. We got your guac right here ! http://t.co/bcOyaUMI</li>
      <li>bdbaddog</li>
      <li>Sun, 10 Feb 2013 02:19:47 +0000</li>
    
      <li>current status: mkdir puget.batshitcrazy #emeraldsprint</li>
      <li>eleddy</li>
      <li>Sat, 09 Feb 2013 18:48:31 +0000</li>
    
      <li>@feesh Welcome Home.. Now fly on up to #emeraldsprint :D</li>
      <li>bdbaddog</li>
      <li>Sat, 09 Feb 2013 18:37:17 +0000</li>
    
      <li>#emeraldsprint ahhhh http://t.co/AIe41B8C</li>
      <li>bdbaddog</li>
      <li>Sat, 09 Feb 2013 16:47:05 +0000</li>
    
      <li>#emeraldsprint four digit flag flys proudly http://t.co/i6nqZjZ0</li>
      <li>bdbaddog</li>
      <li>Sat, 09 Feb 2013 15:50:04 +0000</li>
    
      <li>OH: "We could go to the cock farm…and get Russian trapper hats." #emeraldsprint #guesswho</li>
      <li>davisagli</li>
      <li>Sat, 09 Feb 2013 03:27:36 +0000</li>
    
      <li>OH @ #emeraldsprint We've tested, and Plone is fast as hell if you don't render any templates.</li>
      <li>shmcmahon</li>
      <li>Sat, 09 Feb 2013 01:36:10 +0000</li>
    
      <li>OH: "We saw a bald eagle and an F-18" #plone #emeraldsprint #murica</li>
      <li>matthewwilkes</li>
      <li>Sat, 09 Feb 2013 00:00:00 +0000</li>
    
      <li>OH: "Why the hell do you call them garbanzo beans?" #emeraldsprint</li>
      <li>davisagli</li>
      <li>Fri, 08 Feb 2013 21:09:06 +0000</li>
    
      <li>I thought I had packed everything I needed for the sprint, but lola reminded me of 1 last item #emeraldsprint http://t.co/5vbeT9XI</li>
      <li>eleddy</li>
      <li>Fri, 08 Feb 2013 18:09:35 +0000</li>
    
      <li>OH: "Oh, it squeezes your lower extremities?" #plone #emeraldsprint</li>
      <li>matthewwilkes</li>
      <li>Fri, 08 Feb 2013 05:12:42 +0000</li>
    
      <li>"How's the UI?" "Too chatty." #emeraldsprint #massagechair</li>
      <li>davisagli</li>
      <li>Fri, 08 Feb 2013 01:44:36 +0000</li>
    
  </ul>
</body>
</html>