<html>
<head>
<style>
body {
  font-family: helvetica, sans-serif;
}
li {
  list-style: none;
}
.avatar {
  float: left;
}
.real_name {
  color: #333;
  font-weight: bold;
  margin-left: 5px;
}
.screen_name {
  color: #999;
  font-size: .9em;
}
.tweet-header {
  position: relative;
  top: 3px;  
}
.tweets p {
  position: relative;
  left: 5px;
  bottom: 5px;
}
</style>
</head>
<body>
  <h1>Emerald Sprint Tweets!</h1>
  <ul>
    <li>
      <div class="tweets">
      <img src="../luke_brannon_av" class="avatar">
        <div class="tweet-header">
          <span class="real_name">Luke Brannon</span> <span class="screen_name">@luke_brannon</span>
        </div>
        <p>#emeraldsprint tuco sauced! pic.twitter.com/VSr3vsTC</p>
      </div>
    </li>
    <li>
      <div class="tweets">
      <img src="../davisagli_av"  class="avatar">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">@davisligi</span>
        </div>
        <p>OH: "It's okay, it's an incognito tab." #emeraldsprint</p>
      </div>
    </li>
  </ul>
</body>
</html>