<html>
<head>
<style>
body {
  font-family: helvetica, sans-serif;
}
li {
  list-style: none;
}
.avatar {
  float: left;
}
.real_name {
  color: #333;
  font-weight: bold;
  margin-left: 5px;
}
.screen_name {
  color: #999;
  font-size: .9em;
}
.tweets p {
  position: relative;
  left: 5px;
  bottom: 13px;
}
.tweet-images {
  max-height: 200px;
  margin-bottom: 20px;
  position: relative;
  bottom: 5px;
}
</style>
</head>
<body>
  <h1>Emerald Sprint Tweets!</h1>
  <ul>
    
    <li>
      <div class="tweets">
      <img src="../luke_brannon_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Luke Brannon</span> <span class="screen_name">luke_brannon</span>
        </div>
        <p>#emeraldsprint tuco sauced! http://t.co/VSr3vsTC</p>
      </div>
      </div>
    </li>
    
      <img src="../300492045255049216_im" class="tweet-images">
    
    
    <li>
      <div class="tweets">
      <img src="../luke_brannon_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Luke Brannon</span> <span class="screen_name">luke_brannon</span>
        </div>
        <p>@rosspatterson #emeraldsprint martinez anyone? http://t.co/M6fT7Cab</p>
      </div>
      </div>
    </li>
    
      <img src="../300491713699516417_im" class="tweet-images">
    
    
    <li>
      <div class="tweets">
      <img src="../davisagli_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">davisagli</span>
        </div>
        <p>OH: "It's okay, it's an incognito tab." #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../davisagli_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">davisagli</span>
        </div>
        <p>OH: "I just pressed buttons until it made noises." #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../shmcmahon_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Steve McMahon</span> <span class="screen_name">shmcmahon</span>
        </div>
        <p>#emeraldsprint dinner and conversation http://t.co/aHQSNxZA</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../davisagli_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">davisagli</span>
        </div>
        <p>Third course @ #emeraldsprint #snackunderflow http://t.co/2DELwPGZ</p>
      </div>
      </div>
    </li>
    
      <img src="../300477434011213825_im" class="tweet-images">
    
    
    <li>
      <div class="tweets">
      <img src="../matthewwilkes_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Matthew Wilkes</span> <span class="screen_name">matthewwilkes</span>
        </div>
        <p>OH: "I want more pasta, but I don't want my girlfriend to leave me" #emeraldsprint #plone</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../rosspatterson_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Ross Patterson</span> <span class="screen_name">rosspatterson</span>
        </div>
        <p>Merged collective.cmfeditionsdexteritycompat and collective.dexteritydiff into #dexterity core.  #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../eleddy_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Elizabeth Leddy</span> <span class="screen_name">eleddy</span>
        </div>
        <p>to be clear, I need test cases here more than anything ;)  https://t.co/biBBG1As #doitforme #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../eleddy_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Elizabeth Leddy</span> <span class="screen_name">eleddy</span>
        </div>
        <p>dexterity json api, with security declarations. someone write test cases for me and it merges https://t.co/Jddy7jsi #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../shmcmahon_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Steve McMahon</span> <span class="screen_name">shmcmahon</span>
        </div>
        <p>The Italians are in the kitchen. Life is good. #emeraldsprint #chaosmonkey</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../luke_brannon_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Luke Brannon</span> <span class="screen_name">luke_brannon</span>
        </div>
        <p>“@bdbaddog: @luke_brannon #emeraldsprint and the guac is gone...” Curses! http://t.co/eFmRFH6c</p>
      </div>
      </div>
    </li>
    
      <img src="../300452622018695168_im" class="tweet-images">
    
    
    <li>
      <div class="tweets">
      <img src="../bdbaddog_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">William Deegan</span> <span class="screen_name">bdbaddog</span>
        </div>
        <p>@luke_brannon #emeraldsprint and the guac is gone...</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../eleddy_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Elizabeth Leddy</span> <span class="screen_name">eleddy</span>
        </div>
        <p>holy shit, @bdbaddog just bought http://t.co/x9okJ2aM 
#emeraldsprint #fuckyeah</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../davisagli_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">davisagli</span>
        </div>
        <p>OH: "As long as it's not hetero porn, I'm okay with it." #emeraldsprint #guesswho</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../matthewwilkes_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Matthew Wilkes</span> <span class="screen_name">matthewwilkes</span>
        </div>
        <p>OH: "Nap or drink?" #emeraldsprint #guesswho</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../jonstahl_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Jon Stahl</span> <span class="screen_name">jonstahl</span>
        </div>
        <p>Thanks for letting me and #chaosmonkey drop by, #EmeraldSprint crew! A pleasure to see you all!  #plone</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../shmcmahon_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Steve McMahon</span> <span class="screen_name">shmcmahon</span>
        </div>
        <p>OH #emeraldsprint : We can drive you to drink! (Guess who)</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../shmcmahon_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Steve McMahon</span> <span class="screen_name">shmcmahon</span>
        </div>
        <p>You're know you're in deep when it takes davisagli over an hour to debug your 50 lines of code. #emeraldsprint #balloon</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../davisagli_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">davisagli</span>
        </div>
        <p>OH: "Can we roast a pig with gas from our hot air balloon?" #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../bdbaddog_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">William Deegan</span> <span class="screen_name">bdbaddog</span>
        </div>
        <p>#emeraldsprint @luke_brannon want some guac.. We got your guac right here ! http://t.co/bcOyaUMI</p>
      </div>
      </div>
    </li>
    
      <img src="../300428822455676928_im" class="tweet-images">
    
    
    <li>
      <div class="tweets">
      <img src="../eleddy_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Elizabeth Leddy</span> <span class="screen_name">eleddy</span>
        </div>
        <p>current status: mkdir puget.batshitcrazy #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../bdbaddog_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">William Deegan</span> <span class="screen_name">bdbaddog</span>
        </div>
        <p>@feesh Welcome Home.. Now fly on up to #emeraldsprint :D</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../bdbaddog_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">William Deegan</span> <span class="screen_name">bdbaddog</span>
        </div>
        <p>#emeraldsprint ahhhh http://t.co/AIe41B8C</p>
      </div>
      </div>
    </li>
    
      <img src="../300284697567711232_im" class="tweet-images">
    
    
    <li>
      <div class="tweets">
      <img src="../bdbaddog_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">William Deegan</span> <span class="screen_name">bdbaddog</span>
        </div>
        <p>#emeraldsprint four digit flag flys proudly http://t.co/i6nqZjZ0</p>
      </div>
      </div>
    </li>
    
      <img src="../300270347100491776_im" class="tweet-images">
    
    
    <li>
      <div class="tweets">
      <img src="../davisagli_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">davisagli</span>
        </div>
        <p>OH: "We could go to the cock farm…and get Russian trapper hats." #emeraldsprint #guesswho</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../shmcmahon_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Steve McMahon</span> <span class="screen_name">shmcmahon</span>
        </div>
        <p>OH @ #emeraldsprint We've tested, and Plone is fast as hell if you don't render any templates.</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../matthewwilkes_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Matthew Wilkes</span> <span class="screen_name">matthewwilkes</span>
        </div>
        <p>OH: "We saw a bald eagle and an F-18" #plone #emeraldsprint #murica</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../davisagli_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">davisagli</span>
        </div>
        <p>OH: "Why the hell do you call them garbanzo beans?" #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../eleddy_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Elizabeth Leddy</span> <span class="screen_name">eleddy</span>
        </div>
        <p>I thought I had packed everything I needed for the sprint, but lola reminded me of 1 last item #emeraldsprint http://t.co/5vbeT9XI</p>
      </div>
      </div>
    </li>
    
      <img src="../299943069057441792_im" class="tweet-images">
    
    
    <li>
      <div class="tweets">
      <img src="../matthewwilkes_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">Matthew Wilkes</span> <span class="screen_name">matthewwilkes</span>
        </div>
        <p>OH: "Oh, it squeezes your lower extremities?" #plone #emeraldsprint</p>
      </div>
      </div>
    </li>
    
    
    <li>
      <div class="tweets">
      <img src="../davisagli_av" class="avatar">
      <div class="tweet-body">
        <div class="tweet-header">
          <span class="real_name">David Glick</span> <span class="screen_name">davisagli</span>
        </div>
        <p>"How's the UI?" "Too chatty." #emeraldsprint #massagechair</p>
      </div>
      </div>
    </li>
    
    
  </ul>
</body>
</html>